.p-download {
	padding-top: 160px;
	padding-bottom: 200px;

	@media screen and (max-width:767px) {
		padding-top: 50px;
		padding-bottom: 70px;
	}
}

.p-download__list {
	display: grid;
	grid-template-columns: repeat(6, 1fr);
	column-gap: clamp(20px, 40 / 1440 * 100vw, 40px);
	row-gap: clamp(20px, 60 / 1440 * 100vw, 60px);
	margin-top: 75px;

	@media screen and (max-width:767px) {
		grid-template-columns: 1fr;
		grid-template-columns: repeat(auto-fill, minmax(min(100%, 280px), 1fr));
		row-gap: 45px;
		margin-top: 45px;
	}
}

.p-download__item {
	grid-column: span 2;

	@media screen and (max-width:767px) {
		grid-column: auto;
	}

	&:nth-of-type(4) {
		grid-column: 2/4;

		@media screen and (max-width:767px) {
			grid-column: auto;
		}
	}

	&:nth-of-type(5) {
		grid-column: 4/6;

		@media screen and (max-width:767px) {
			grid-column: auto;
		}
	}
}

.p-download__item--link {
	display: block;
}

.p-download__item--img {
	position: relative;
	overflow: hidden;
	aspect-ratio: 354/214;
	max-height: 220px;
	width: 100%;
	transition: all .3s ease;
	transition-property: opacity;


	@media screen and (max-width:767px) {
		max-height: 170px;
	}

	&>img {
		position: absolute;
		inset: 0;
		top: 50%;
		left: 50%;
		translate: -50% -50%;
		transition: all .3s ease;
		transition-property: scale;
	}
}

.p-download__item--link {
	&:focus-visible {
		.p-download__item--img {
			opacity: 0.6;
		}

		.p-download__item--img>img {
			scale: 1.05;
		}
	}

	@media (any-hover: hover) {
		&:hover {
			.p-download__item--img {
				opacity: 0.6;
			}

			.p-download__item--img>img {
				scale: 1.05;
			}
		}
	}
}

.p-download__item--tag {
	display: inline-block;
	background-color: var(--color-bg-primary);
	text-align: center;
	font-weight: bold;
	line-height: 1.2;
	font-size: clamp(11px, 13/ 1440 * 100vw, 13px);
	min-width: 104px;
	border-radius: 3px;
	padding: 7px 12px;
	margin-top: 35px;

	@media screen and (max-width:767px) {
		min-width: 82px;
		padding: 6px 11px;
		margin-top: 18px;
	}
}

.p-download__item--ttl {
	font-weight: bold;
	letter-spacing: 0.06em;
	line-height: 1.2;
	font-size: clamp(20px, 25 / 1440 * 100vw, 25px);
	margin-top: 10px;
	transition: all .3s ease;
	transition-property: color;

	@media screen and (max-width:767px) {
		margin-top: 9px;
	}
}

.p-download__item--body {
	font-weight: 500;
	letter-spacing: 0.06em;
	line-height: 1.7;
	font-size: clamp(11px, 13 / 1440 * 100vw, 13px);
	margin-top: 10px;
	transition: all .3s ease;
	transition-property: color;

	@media screen and (max-width:767px) {
		margin-top: 6px;
	}
}
