.p-news-single-sec1 {
	padding-top: 110px;

	@media screen and (max-width:767px) {
		padding-top: 80px;
	}
}

.p-news-single-sec1__ttl {
	position: relative;
	font-weight: bold;
	font-size: clamp(25px, 35 / 1440 * 100vw, 35px);
	line-height: 1.2;
	padding-bottom: 16px;

	&::before,
	&::after {
		content: "";
		position: absolute;
		bottom: 0;
		left: 0;
		height: 1px;
		box-shadow: 0 0 4px rgba($color: #0166C9, $alpha: 0.81);
	}

	&::before {
		z-index: 1;
		width: 100%;
		background-color: var(--color-bg-primary);
	}

	&::after {
		z-index: 2;
		width: clamp(80px, 224 / 1440 * 100vw, 224px);
		background-color: var(--color-bg-white);
	}

}

.p-news-single-sec1__box {
	display: flex;
	justify-content: space-between;
	padding-right: 10px;
	margin-top: 8px;

	@media screen and (max-width:767px) {
		padding-right: 3px;
		margin-top: 4px;
	}
}

.p-news-single-sec1__date {
	display: block;
	font-weight: 500;
	font-size: clamp(11px, 18 / 1440 * 100vw, 18px);
	margin-top: 10px;

	@media screen and (max-width:767px) {
		margin-top: 8px;
	}
}

.p-news-single__categories {
	display: flex;
	flex-wrap: wrap;
	column-gap: 16px;
	row-gap: 5px;
	margin-top: 16px;

	@media screen and (max-width:767px) {
		column-gap: 5px;
		margin-top: 7px;
	}
}

.p-news-single__category {
	color: var(--color-txt-black);
	background-color: var(--color-bg-white);
	border: 3px solid var(--color-border-primary);
	border-radius: 3px;
	text-align: center;
	line-height: 1.25;
	font-size: clamp(11px, 18 / 1440 * 100vw, 18px);
	min-width: 110px;
	padding: 6px 10px 7px;

	@media screen and (max-width:767px) {
		padding: 2px 7px 2px;
		min-width: 60px;
	}
}

.p-news-single-thumbnail {
	margin-top: 80px;
	width: min(100%, 600px);
	margin-inline: auto;

	@media screen and (max-width:767px) {
		margin-top: 60px;
	}
}

.p-news-single-thumbnail__caption {
	font-weight: 300;
	font-size: 12px;
	letter-spacing: 0.04em;
	margin-top: 10px;
}



.p-news-single-content {
	margin-top: 80px;

	@media screen and (max-width:767px) {
		margin-top: 60px;
	}
}

.p-news-single-sec2 {
	padding-bottom: 100px;
	margin-top: 120px;

	@media screen and (max-width:767px) {
		margin-top: 64px;
		padding-bottom: 80px;
	}
}

.p-news-single-sec2__back--link {
	display: grid;
	grid-template-columns: 16px auto;
	justify-content: center;
	align-items: center;
	column-gap: 8px;
	min-width: 254px;
	text-align: center;
	border-radius: 5px;
	line-height: 1.2;
	font-weight: bold;
	color: var(--color-txt-black);
	font-size: 20px;
	background-color: var(--color-bg-white);
	padding-block: 22px;
	padding-inline: 1em;
	width: fit-content;
	margin-inline: auto;
	transition: all .3s ease;
	transition-property: background-color, color;

	@media screen and (max-width:767px) {
		grid-template-columns: 13px auto;
		column-gap: 4px;
		min-width: 115px;
		font-size: 13px;
		padding-block: 11px;
	}

	&::before {
		content: "";
		background: url('../img/common/common_icon_arrow_left_black.png') no-repeat center center/contain;
		aspect-ratio: 1;
		transition: all .3s ease;
		transition-property: background-image;

	}

	&:focus-visible {
		background-color: var(--color-bg-primary);
		color: var(--color-txt-white);

		&::before {
			background-image: url('../img/common/common_icon_arrow_left_white.png');
		}
	}

	@media (any-hover: hover) {
		&:hover {
			background-color: var(--color-bg-primary);
			color: var(--color-txt-white);

			&::before {
				background-image: url('../img/common/common_icon_arrow_left_white.png');
			}
		}
	}
}
