.c-btnA {
	position: relative;
	display: grid;
	grid-template-columns: auto 7px;
	column-gap: 30px;
	justify-content: center;
	align-items: center;
	background-color: var(--color-bg-primary);
	font-family: $din;
	color: var(--color-txt-white);
	font-weight: bold;
	letter-spacing: 0.1em;
	line-height: 1;
	border-radius: 2px;
	font-size: clamp(13px, 15 / 1440 * 100vw, 15px);
	width: min(100%, 200px);
	height: 51px;
	transition: all .3s ease;
	transition-property: color, background-color;

	@media screen and (max-width:767px) {
		width: min(100%, 152px);
		height: 30px;
	}

	&::after {
		content: "";
		aspect-ratio: 7/12;
		background-color: var(--color-bg-white);
		transition: all .3s ease;
		transition-property: background-color;
		clip-path: $clip-triangle-right;
	}

	&:focus-visible {
		color: var(--color-txt-primary);
		background-color: var(--color-bg-white);

		&::after {
			background-color: var(--color-bg-primary);
		}
	}

	@media (any-hover: hover) {
		&:hover {
			color: var(--color-txt-primary);
			background-color: var(--color-bg-white);

			&::after {
				background-color: var(--color-bg-primary);
			}
		}
	}
}

// large
// -----------------------------------------------
.c-btnA--large {
	font-size: clamp(13px, 20 / 1440 * 100vw, 20px);
}

// center
// -----------------------------------------------
.c-btnA--center {
	margin-inline: auto;
}

// right
// -----------------------------------------------
.c-btnA--right {
	margin-left: auto;
}
