.c-btnC {
	display: grid;
	place-content: center;
	background-color: var(--color-bg-primary);
	color: var(--color-txt-white);
	text-align: center;
	border-radius: 5px;
	width: min(100%, 240px);
	height: 64px;
	font-size: clamp(15px, 20 / 1440 * 100vw, 20px);
	box-shadow: 0 0 7px rgba($color: #B39B46, $alpha: 0.5);
	transition: all .3s ease;
	transition-property: background-color, color;

	@media screen and (max-width:767px) {
		width: 180px;
		height: 38px;
	}

	&:focus-visible {
		color: var(--color-txt-primary);
		background-color: var(--color-bg-white);
	}

	@media (any-hover: hover) {
		&:hover {
			color: var(--color-txt-primary);
			background-color: var(--color-bg-white);
		}
	}

}

// center
// -----------------------------------------------
.c-btnC--center {
	margin-inline: auto;
}
