.c-company-info {
	--minusMargin: 57px;
	--gapSize: 30px;
	--minusTotal: calc(var(--minusMargin) + var(--gapSize));

	@media screen and (max-width:767px) {
		--minusMargin: 7px;
		--gapSize: 9px;
	}
}

.c-company-info__img {
	margin-top: 43px;
	margin-left: calc(50% - 50vw);
	padding-right: clamp(180px, 230 / 1440 * 100vw, 230px);

	@media screen and (max-width:767px) {
		padding-right: 36px;
		margin-top: 36px;
	}
}

.c-company-info__info {
	z-index: 1;
	position: relative;
	display: grid;
	background-color: var(--color-bg-gray);
	border: 2px solid var(--color-border-primary);
	border-radius: 3px;
	color: var(--color-txt-black);
	padding-top: clamp(16px, 70 / 1920 * 100vw, 70px);
	padding-inline: clamp(20px, 50 / 1920 * 100vw, 50px);
	padding-bottom: clamp(20px, 100 / 1920 * 100vw, 100px);
	margin-top: calc(-1 * var(--minusMargin));

	@media screen and (max-width:767px) {
		border: none;
	}
}

.c-company-info__info--dl {
	display: grid;
	grid-template-columns: subgrid;
	grid-column: span 2;
	column-gap: clamp(20px, 120 / 1920 * 100vw, 120px);
	padding-left: clamp(20px, 48 / 1440 * 100vw, 48px);
	padding-block: clamp(16px, 30 / 1440 * 100vw, 30px);

	@media screen and (max-width:767px) {
		grid-template-columns: 1fr;
		row-gap: 4px;
		padding-left: 0;
	}

	&:not(:first-of-type) {
		border-top: 1px solid #8AB2DA;
	}
}

.c-company-info__info--dt {
	font-weight: 500;
	font-size: clamp(15px, 17 / 1440 * 100vw, 17px);

	@media screen and (max-width:767px) {
		font-size: 15px;
	}
}

.c-company-info__info--dd {
	font-size: clamp(12px, 17 / 1440 * 100vw, 17px);
}

.c-company-info__info--address {
	display: grid;
	grid-template-columns: auto 1fr;

	@media screen and (max-width:767px) {
		grid-template-columns: 1fr;
	}
}
