.c-dot {
	--dotSize: 21px;
	position: absolute;
	aspect-ratio: 1;
	border-radius: calc(1px * infinity);
	background-color: var(--color-bg-primary-light);
	width: var(--dotSize);
	box-shadow: 0 0 64px #59A1BE;

	@media screen and (max-width:767px) {
		--dotSize: 9px;
	}
}

// medium
// -----------------------------------------------
.c-dot--mid {
	--dotSize: 27px;

	@media screen and (max-width:767px) {
		--dotSize: 10px;
	}
}

// large
// -----------------------------------------------
.c-dot--large {
	--dotSize: 22px;

	@media screen and (max-width:767px) {
		--dotSize: 12px;
	}
}
