.c-news-card__link {
	--arrowWidthSize: 15px;
	position: relative;
	display: block;
	padding-bottom: 16px;
	padding-left: 19px;
	padding-right: var(--arrowWidthSize);

	@media screen and (max-width:767px) {
		--arrowWidthSize: 12px;
		padding-bottom: 8px;
		padding-left: 10px;
	}

	&::after {
		position: absolute;
		top: 50%;
		right: 0;
		translate: 0 -50%;
		content: "";
		aspect-ratio: 1;
		width: var(--arrowWidthSize);
		background: url('../img/common/common_icon_arrow_right_white.png') no-repeat center top/cover;
	}

}

.c-news-card__date {
	font-size: 14px;
	transition: all .3s ease;
	transition-property: opacity;

	@media screen and (max-width:767px) {
		font-size: 13px;
	}
}

.c-news-card__link {
	&:focus-visible {
		.c-news-card__date {
			opacity: 0.6;
		}
	}

	@media (any-hover: hover) {
		&:hover {
			.c-news-card__date {
				opacity: 0.6;
			}
		}
	}
}

.c-news-card__ttl {
	font-weight: bold;
	font-size: clamp(15px, 17 / 1440 * 100vw, 17px);
	margin-top: 7px;
	transition: all .3s ease;
	transition-property: opacity;

	@media screen and (max-width:767px) {
		margin-top: 5px;
	}
}

.c-news-card__link {
	&:focus-visible {
		.c-news-card__ttl {
			opacity: 0.6;
		}
	}

	@media (any-hover: hover) {
		&:hover {
			.c-news-card__ttl {
				opacity: 0.6;
			}
		}
	}
}

.c-news-card__categories {
	display: flex;
	flex-wrap: wrap;
	gap: 9px;
	margin-top: 6px;

	@media screen and (max-width:767px) {
		gap: 5px;
	}

}

.c-news-card__category {
	min-width: 87px;
	background-color: var(--color-bg-white);
	border: 1px solid var(--color-border-primary);
	border-radius: 5px;
	color: var(--color-txt-black);
	text-align: center;
	font-size: 13px;
	line-height: 1.2;
	padding-inline: 5px;
	padding-block: 6px;

	@media screen and (max-width:767px) {
		font-size: 11px;
		min-width: 60px;
		padding-block: 2px;
	}
}

.c-news-card__body {
	display: -webkit-box;
	-webkit-box-orient: vertical;
	-webkit-line-clamp: 2;
	/* 制限したい行数を指定 */
	overflow: hidden;
	line-height: 1.4;
	font-size: 15px;
	margin-top: 16px;
	transition: all .3s ease;
	transition-property: color;

	@media screen and (max-width:767px) {
		font-size: 13px;
		margin-top: 11px;
	}
}

.c-news-card__link {
	&:focus-visible {
		.c-news-card__body {
			color: var(--color-border-primary-light);
		}
	}

	@media (any-hover: hover) {
		&:hover {
			.c-news-card__body {
				color: var(--color-border-primary-light);
			}
		}
	}
}
