.c-sectionTtlA {
	text-align: center;
}

.c-sectionTtlA__en {
	position: relative;
	font-weight: 500;
	font-size: clamp(25px, 40 / 1440 * 100vw, 40px);
	letter-spacing: 0.05em;
	padding-bottom: 12px;

	@media screen and (max-width:767px) {
		letter-spacing: unset;
	}

	&::before {
		position: absolute;
		content: "";
		bottom: 0;
		left: 50%;
		translate: -50% 0;
		background-color: var(--color-bg-white);
		width: 40px;
		height: 1px;

	}
}

.c-sectionTtlA__ja {
	font-weight: 500;
	font-size: clamp(13px, 16 / 1440 * 100vw, 16px);
	margin-top: 16px;

	@media screen and (max-width:767px) {
		margin-top: 11px;
	}
}

// black
// -----------------------------------------------
.c-sectionTtlA--black {
	color: var(--color-txt-black);

	.c-sectionTtlA__en {
		&::before {
			background-color: var(--color-bg-black);
		}
	}
}
