.l-contact__wrap {
	display: grid;
	align-items: start;
	row-gap: 20px;
	color: var(--color-txt-black);

	@media screen and (max-width:767px) {
		// padding: 36px;
		padding-bottom: 50px;
	}
}

.l-contact__form--row {
	display: grid;
	row-gap: 9px;
	width: min(100%, 720px);
	margin-inline: auto;

	@media screen and (max-width:767px) {
		row-gap: 6px;
	}
}

.l-contact__form--label {
	font-weight: 500;
	font-size: clamp(13px, 17/ 1440 * 100vw, 17px);

	@media screen and (max-width:767px) {
		font-weight: normal;
	}
}

.l-contact__form--body {}

.l-contact__form--body textarea {
	min-height: 360px;

	@media screen and (max-width:767px) {
		min-height: 220px;
	}
}

.l-contact__form--policy {
	background-color: var(--color-bg-white);
	border: 1px solid var(--color-border-primary);
	border-radius: 3px;
	padding: 11px 22px;
	overflow-y: auto;
	height: 200px;
	color: #565656;
	font-size: 13px;
	line-height: 1.3;

	@media screen and (max-width:949px) {
		padding: 6px 10px;
	}

	@media screen and (max-width:767px) {
		font-size: 11px;
	}
}

// selectの逆三角
// -----------------------------------------------
.l-contact__select .wpcf7-form-control-wrap::before {
	--iconSize: 18px;
	pointer-events: none;
	content: "";
	position: absolute;
	right: 8px;
	top: calc(50% + 3px);
	transform: translateY(-50%);
	aspect-ratio: 1;
	width: var(--iconSize);
	background: url(../img/common/common_icon_option_bottom.png) no-repeat center center / contain;
}

.l-contact__select .wpcf7-form-control-wrap {
	position: relative;
	display: block;
}

.l-contact__select select {
	appearance: none;
	padding-right: 36px;
}

// 同意
// -----------------------------------------------
.l-contact__confirm {
	width: fit-content;
	margin-inline: auto;
}

// 送信
// -----------------------------------------------
.l-contact__submit {
	margin-top: 20px;
}
