.l-footer {
	background-color: #636363;
	padding-top: 129px;
	padding-bottom: 36px;

	@media screen and (max-width:767px) {
		padding-top: 46px;
		padding-bottom: 8px;
	}
}

.l-footer__container {
	--logoSize: clamp(200px, 355 / 1920 * 100vw, 355px);
	display: grid;
	grid-template:
		"logo nav" auto
		". nav" 30px
		"sns nav" auto
		". nav" 22px
		"tel nav" auto
		". ." clamp(40px, 84 / 1920 * 100vw, 84px) "cta cta" auto
		". ." 22px
		/var(--logoSize) 1fr;
	column-gap: clamp(20px, 56 / 1920 * 100vw, 56px);

	@media screen and (max-width:767px) {
		grid-template:
			"logo" auto
			"." 2px
			"tel" auto
			"." 20px
			"sns" auto
			"." 36px
			"cta" auto
			"." 56px
			"nav" auto
			/ 1fr;
	}
}

.l-footer__logo {
	grid-area: logo;

	@media screen and (max-width:767px) {
		width: min(100%, 163px);
		justify-self: center;
	}
}

.l-footer__logo--link {}

.l-footer__sns {
	grid-area: sns;
}

.l-footer__sns--link {
	display: block;
	width: min(100%, 264px);
	transition: all .3s ease;
	transition-property: opacity;

	@media screen and (max-width:767px) {
		width: min(100%, 187px);
		margin-inline: auto;
	}

	&:focus-visible {
		opacity: 0.8;
	}

	@media (any-hover: hover) {
		&:hover {
			opacity: 0.8;
		}
	}

	&>img {
		height: 100%;
	}
}

.l-footer__nav {
	grid-area: nav;
}

.l-footer__nav--list {
	display: grid;
	grid-template-columns: auto auto auto;
	grid-template-rows: auto 1fr;
	column-gap: clamp(10px, 35 / 1920 * 100vw, 35px);
	row-gap: clamp(20px, 35 / 1440 * 100vw, 35px);

	@media screen and (max-width:767px) {
		grid-template-columns: 1fr;
		row-gap: 23px;
	}
}

.l-footer__nav--item {
	--dotSize: 7px;

	&:nth-of-type(1) {
		grid-row: 1 /-1;
	}
}

.l-footer__nav--link {
	display: grid;
	grid-template-columns: var(--dotSize) auto;
	align-items: center;
	column-gap: 10px;
	font-weight: bold;
	font-size: 15px;
	transition: all .3s ease;
	transition-property: color;

	@media screen and (max-width:767px) {
		grid-template-columns: 1fr 12px;
		column-gap: 1em;
		align-items: center;
		font-size: 13px;
		border-bottom: 1px solid var(--color-border-white);
		padding-left: 5px;
		padding-bottom: 10px;
	}

	&::before {
		content: "";
		aspect-ratio: 1;
		border-radius: calc(1px * infinity);
		background-color: var(--color-bg-white);
		box-shadow: 0 0 4px #4B95AF;
		transition: all .3s ease;
		transition-property: background-color;

		@media screen and (max-width:767px) {
			content: none;
		}
	}

	@media screen and (max-width:767px) {
		&::after {
			content: "";
			aspect-ratio: 1;
			background: url('../img/common/common_icon_right_white.png') no-repeat center center/contain;
		}
	}


	&:focus-visible:not(.l-footer__nav--parent) {
		color: var(--color-txt-primary-light);

		&::before {
			background-color: var(--color-bg-primary-light);
		}
	}

	@media (any-hover: hover) {
		&:hover:not(.l-footer__nav--parent) {
			color: var(--color-txt-primary-light);

			&::before {
				background-color: var(--color-bg-primary-light);
			}
		}
	}
}

.l-footer__nav--parent {

	@media screen and (max-width:767px) {
		grid-template-columns: 1fr;

		&::after {
			content: none;
		}
	}
}

.l-footer__nav--child {
	margin-top: 8px;
	display: grid;
	align-items: start;
	row-gap: 6px;
	margin-left: calc(var(--dotSize) + 10px);

	@media screen and (max-width:767px) {
		grid-template-columns: auto 1fr;
		column-gap: 17px;
		row-gap: 10px;
		margin-top: 17px;
		margin-left: 0;
	}
}

.l-footer__navChild--item {
	@media screen and (max-width:767px) {
		justify-self: start;
	}
}

.l-footer__navChild--link {
	display: grid;
	grid-template-columns: 8px 1fr;
	column-gap: 5px;
	align-items: center;
	font-size: 13px;
	transition: all .3s ease;
	transition-property: color;

	@media screen and (max-width:767px) {
		grid-template-columns: 8px auto;
		font-weight: 500;
	}


	&::before {
		content: "";
		aspect-ratio: 8/1;
		background-color: var(--color-bg-white);
		transition: all .3s ease;
		transition-property: background-color;
	}

	&:focus-visible {
		color: var(--color-txt-primary-light);

		&::before {
			background-color: var(--color-bg-primary-light);
		}
	}

	@media (any-hover: hover) {
		&:hover {
			color: var(--color-txt-primary-light);

			&::before {
				background-color: var(--color-bg-primary-light);
			}
		}
	}
}

.l-footer__cta {
	grid-area: cta;
	display: flex;
	column-gap: clamp(20px, 64 / 1440 * 100vw, 64px);

	@media screen and (max-width:767px) {
		display: grid;
		grid-template-columns: repeat(2, 1fr);
		gap: 10px;
	}

	@media screen and (max-width:400px) {
		grid-template-columns: repeat(auto-fill, minmax(min(100%, 165px), 1fr));

	}
}

.l-footer__cta--item {}

.l-footer__cta--link {
	--iconSize: 29px;
	--iconArrowSize: 19px;
	display: grid;
	grid-template-columns: var(--iconSize) 1fr var(--iconArrowSize);
	align-items: center;
	justify-content: center;
	column-gap: 9px;
	min-height: 100px;
	width: 309px;
	background-color: var(--color-bg-primary);
	padding-inline: 21px;
	padding-left: 30px;
	transition: all .3s ease;
	transition-property: opacity;

	@media screen and (max-width:767px) {
		width: min(100%, 309px);
		--iconSize: 13px;
		--iconArrowSize: 13px;
		min-height: 46px;
		padding-inline: 7px;
		margin-inline: auto;
	}

	&:focus-visible {
		opacity: 0.8;
	}

	@media (any-hover: hover) {
		&:hover {
			opacity: 0.8;
		}
	}

	&::after {
		content: "";
		aspect-ratio: 1;
		background: url('../img/common/common_icon_arrow_right_white.png') no-repeat center center/contain;
	}
}

.l-footer__cta--icon {
	aspect-ratio: 1;

	&>img {
		height: 100%;
		object-fit: contain;
	}
}

.l-footer__cta--txt {
	color: var(--color-txt-white);
	font-weight: bold;
	font-size: clamp(13px, 18 / 1440 * 100vw, 18px);

	@media screen and (max-width:767px) {
		font-size: 13px;
	}
}

.l-footer__cta--black {
	padding-left: 40px;
	background-color: var(--color-bg-black);

	@media screen and (max-width:767px) {
		padding-inline: 7px;
	}
}

.l-footer__tel {
	grid-area: tel;
}

.l-footer__tel--link {
	--iconSize: 30px;
	display: grid;
	align-items: center;
	grid-template-columns: var(--iconSize) auto;
	column-gap: clamp(7px, 10/ 1440 * 100vw, 10px);
	width: fit-content;
	font-weight: bold;
	font-size: 25px;
	transition: all .3s ease;
	transition-property: opacity;

	@media screen and (max-width:767px) {
		--iconSize: 15px;
		font-size: 18px;
		justify-content: center;
		margin-inline: auto;
	}

	&:focus-visible {
		opacity: 0.8;
	}

	@media (any-hover: hover) {
		&:hover {
			opacity: 0.8;
		}
	}

	&::before {
		position: relative;
		content: "";
		top: 2px;
		aspect-ratio: 1;
		background: url('../img/common/common_icon_tel_white.png') no-repeat center center/contain;
	}
}

.l-footer__bottom {
	margin-top: clamp(36px, 114 / 1440 * 100vw, 114px);
}

.l-footer__policy {
	text-align: center;
	font-weight: 300;
	font-size: 11px;
	transition: all .3s ease;
	transition-property: opacity;

	&:focus-visible {
		opacity: 0.8;
	}

	@media (any-hover: hover) {
		&:hover {
			opacity: 0.8;
		}
	}

	@media screen and (max-width:767px) {
		font-size: 10px;
	}
}

.l-footer__copy {
	display: block;
	text-align: center;
	font-weight: 300;
	font-size: 17px;
	margin-top: 2px;

	@media screen and (max-width:767px) {
		font-size: 10px;
	}
}

.l-footer__copy--link {
	transition: all .3s ease;
	transition-property: opacity;

	&:focus-visible {
		opacity: 0.8;
	}

	@media (any-hover: hover) {
		&:hover {
			opacity: 0.8;
		}
	}
}
