.l-headerSp {
	display: none;
	z-index: var(--z-index-header);
	position: fixed;
	top: 0;
	left: 0;
	width: 100%;
	background-color: #6363635e;
	transition: all .3s ease;
	transition-property: background-color;

	@media screen and (max-width:949px) {
		display: block;
	}

	&.isActive {
		background-color: #636363;
	}

	&.isOpen {
		background-color: #636363;
	}

	&.isActive.isOpen {
		background-color: #636363;
	}
}

.l-headerSp__inner {
	min-height: var(--header-height);
	display: grid;
	align-items: center;
	grid-template-columns: 73px 1fr 28px;
	column-gap: 15px;
	padding-left: 17px;
	padding-right: 13px;
}


.l-headerSp__cta {
	justify-content: end;
	display: flex;
	align-items: end;
	column-gap: 8px;
}

.l-headerSp__cta--item {

	&:nth-of-type(1) {
		.l-headerSp__cta--btn {
			grid-template-rows: 23px auto;
			row-gap: 2px;
		}

		.l-headerSp__cta--icon {
			height: 23px;
		}
	}

	&:nth-of-type(2) {
		.l-headerSp__cta--btn {
			grid-template-rows: 27px auto;
			row-gap: 1px;
		}

		.l-headerSp__cta--icon {
			height: 27px;
		}
	}

}

.l-headerSp__cta--btn {
	display: grid;
	justify-items: center;
}

.l-headerSp__cta--icon {
	aspect-ratio: 1;

	&>img {
		height: 100%;
	}
}

.l-headerSp__cta--txt {
	text-align: center;
	color: var(--color-txt-white);
	font-size: 9px;
}

.l-headerSp__menu {
	aspect-ratio: 1;
	position: relative;
	background-color: var(--color-bg-primary);
	border-radius: 3px;
}

.l-headerSp__menu--line {
	position: absolute;
	background-color: var(--color-bg-white);
	width: 14px;
	height: 2px;
	left: 50%;
	translate: -50% -50%;
	transition: all .3s ease;
	transition-property: opacity, rotate, top, left;

	&:nth-of-type(1) {
		top: calc(50% - 5px);
	}

	&:nth-of-type(2) {
		top: 50%;
	}

	&:nth-of-type(3) {
		top: calc(50% + 5px);
	}

}

.l-headerSp__menu {
	&.isActive {
		.l-headerSp__menu--line {
			&:nth-of-type(1) {
				rotate: -45deg;
				top: 50%;
				left: 50%;
			}

			&:nth-of-type(2) {
				opacity: 0;
			}

			&:nth-of-type(3) {
				rotate: 45deg;
				top: 50%;
				left: 50%;
			}
		}
	}
}

// l-spMenu
// -----------------------------------------------
.l-spMenu {
	z-index: var(--z-index-header);
	position: fixed;
	opacity: 0;
	top: var(--header-height);
	left: 0;
	translate: 110% 0;
	width: 100%;
	height: calc(100vh - var(--header-height));
	background-color: #636363;
	transition: all .3s ease;
	transition-property: translate, opacity;

	&.isActive {
		opacity: 1;
		translate: 0 0;
	}
}

.l-spMenu__inner {
	padding: 20px;
	display: grid;
	height: 100%;
	align-content: start;
}

.l-spMenu__nav {
	overflow-y: auto;
	padding-inline: 15px;
}

.l-spMenu__nav--list {
	display: grid;
	align-items: start;
	row-gap: 30px;
}

.l-spMenu__nav--item {}

.l-spMenu__nav--link {
	display: grid;
	grid-template-columns: 1fr 12px;
	column-gap: 1em;
	align-items: center;
	color: var(--color-txt-white);
	font-weight: bold;
	font-size: 13px;
	border-bottom: 1px solid var(--color-border-white);
	padding-left: 5px;
	padding-bottom: 10px;

	&::after {
		content: "";
		aspect-ratio: 1;
		background: url('../img/common/common_icon_right_white.png') no-repeat center center/contain;
	}
}

.l-spMenu__nav--parent {
	grid-template-columns: 1fr;

	&::after {
		content: none;
	}
}

.l-spMenu__nav--child {
	display: grid;
	grid-template-columns: auto 1fr;
	column-gap: 17px;
	row-gap: 10px;
	margin-top: 17px;
}

.l-spMenu__navChild--item {
	justify-self: start;
}

.l-spMenu__navChild--link {
	display: grid;
	grid-template-columns: 8px auto;
	column-gap: 5px;
	align-items: center;
	color: var(--color-txt-white);
	font-weight: 500;
	font-size: 13px;

	&::before {
		content: "";
		aspect-ratio: 8/1;
		background-color: var(--color-bg-white);
	}
}

.l-spMenu__cta {
	display: grid;
	grid-template-columns: repeat(auto-fill, minmax(min(100%, 169px), 1fr));
	gap: 11px;
	margin-top: 58px;
}

.l-spMenu__cta--item {}

.l-spMenu__cta--link {
	--iconSize: 22px;
	--iconArrowSize: 13px;
	display: grid;
	grid-template-columns: var(--iconSize) 1fr var(--iconArrowSize);
	align-items: center;
	column-gap: 6px;
	min-height: 46px;
	background-color: var(--color-bg-primary);
	padding-left: 11px;
	padding-right: 7px;

	&::after {
		content: "";
		aspect-ratio: 1;
		background: url('../img/common/common_icon_arrow_right_white.png') no-repeat center center/contain;
	}
}

.l-spMenu__cta--icon {
	aspect-ratio: 1;

	&>img {
		height: 100%;
	}
}

.l-spMenu__cta--txt {
	color: var(--color-txt-white);
	font-weight: bold;
	font-size: 13px;
}

.l-spMenu__cta--black {
	background-color: var(--color-bg-black);
}
