.l-header__space {
	height: var(--header-service-height);
}

.l-header__top {
	z-index: var(--z-index-header);
	opacity: 0;
	visibility: hidden;
	pointer-events: none;
	position: fixed;
	bottom: 37px;
	right: 33px;
	display: grid;
	place-content: center;
	aspect-ratio: 1;
	width: 60px;
	background-color: #FAF9F9;
	border-radius: calc(1px * infinity);
	transition: all .3s ease;
	transition-property: opacity, visibility;

	@media screen and (max-width:949px) {
		display: none;
	}

	&.isActive {
		opacity: 1;
		visibility: visible;
		pointer-events: auto;
	}

	&>img {
		width: 26px;
	}
}

.l-headerService {
	z-index: var(--z-index-header);
	position: fixed;
	top: 0;
	left: 0;
	width: calc(100% - 350px); //画面幅 - サイドフォームの幅
	background-color: #636363;
	transition: all .3s ease;
	transition-property: background-color;

	@media screen and (max-width:949px) {
		display: none;
	}

}

.l-headerService__inner {
	min-height: var(--header-service-height);
	display: grid;
	align-items: center;
	grid-template-columns: clamp(80px, 100 / 1440 * 100vw, 100px) 1fr auto;
	column-gap: clamp(10px, 26 / 1920 * 100vw, 26px);
	padding-inline: 15px;
	padding-top: 14px;
	padding-bottom: 13px;
}

.l-headerService__logo {}

.l-headerService__logo--link {}

.l-headerService__nav {
	justify-self: end;
}

.l-headerService__nav--list {
	display: flex;
	column-gap: clamp(4px, 19 / 1920 * 100vw, 19px);
	row-gap: 5px;
	align-items: center;
	flex-wrap: wrap;
}

.l-headerService__nav--item {
	position: relative;
}

.l-headerService__nav--link {
	position: relative;
	display: block;
	font-size: 15px;
	line-height: 1.5;
	color: var(--color-txt-white);
	transition: all .3s ease;
	transition-property: color;

	@media screen and (max-width:1400px) {
		font-size: 13px;
	}


	&:focus-visible {
		color: var(--color-txt-primary);
	}

	@media (any-hover: hover) {
		&:hover {
			color: var(--color-txt-primary);
		}
	}
}

.l-headerService__cta {
	display: flex;
	align-items: center;
	column-gap: clamp(4px, 14 / 1920 * 100vw, 14px);
}

.l-headerService__cta--item {
	position: relative;
}

.l-headerService__cta--btn {
	display: block;
	min-width: 122px;
	background-color: var(--color-bg-primary);
	color: var(--color-txt-white);
	text-align: center;
	font-weight: 500;
	line-height: 1.5;
	font-size: 15px;
	border-radius: 3px;
	padding-inline: 5px;
	padding-block: 9px;
	transition: all .3s ease;
	transition-property: opacity;

	@media screen and (max-width:949px) {
		min-width: unset;
		font-size: 13px;
	}

	&:focus-visible {
		opacity: .8;
	}

	@media (any-hover: hover) {
		&:hover {
			opacity: .8;
		}
	}
}
