.l-pageMv {
	--height: calc((100svh - var(--header-height)) * 0.8);
	position: relative;
	height: var(--height);
	max-height: 675px;
	overflow: hidden;

	@media screen and (max-width:767px) {
		max-height: 450px;
	}
}

.l-pageMv__bg {
	z-index: -1;
	position: absolute;
	inset: 0;

	&>img {
		height: 100%;
	}
}

.l-pageMv__ttl {
	display: grid;
	place-content: center;
	height: 100%;
	text-align: center;
}

.l-pageMv__ttl--en {
	font-family: $din;
	font-size: clamp(30px, 50 / 1440 * 100vw, 50px);

	@media screen and (max-width:767px) {
		font-size: 30px;
	}

}

.l-pageMv__ttl--ja {
	font-size: clamp(18px, 25 / 1440 * 100vw, 25px);
	position: relative;
	padding-top: 19px;
	margin-top: 12px;

	@media screen and (max-width:767px) {
		font-size: 16px;
	}

	&::after {
		content: "";
		position: absolute;
		top: 0;
		left: 50%;
		translate: -50% 0;
		width: 38px;
		height: 3px;
		background-color: var(--color-bg-white);

	}
}

// medium
// -----------------------------------------------
.l-pageMv--medium {
	--height: calc((100svh - var(--header-height)) * 0.55);
}

// small
// -----------------------------------------------
.l-pageMv--small {
	--height: calc((100svh - var(--header-height)) * 0.4);

	@media screen and (max-width:767px) {
		--height: calc((100svh - var(--header-height)) * 0.55);
	}
}

// positionTop
// -----------------------------------------------
.l-pageMv--positionTop {
	.l-pageMv__bg {
		&>img {
			object-position: top;
		}
	}
}
