.l-service {
	display: grid;
	grid-template-columns: 1fr 350px;
	align-content: start;
	background-color: var(--color-bg-black);
	width: 100%;
	max-width: 100vw;
	overflow-x: clip;

	@media screen and (max-width:949px) {
		display: block;
	}
}

.l-service-sp__contact {
	display: none;

	@media screen and (max-width:949px) {
		z-index: var(--z-service-contact-btn);
		--iconSize: 16px;
		position: fixed;
		top: calc(var(--header-height) + 20px);
		right: max(0px, env(safe-area-inset-right));
		display: grid;
		// grid-template-columns: auto var(--iconSize);
		//
		grid-template-columns: 1fr;
		grid-template-rows: auto var(--iconSize);
		row-gap: 20px;
		//
		justify-content: center;
		align-items: center;
		column-gap: 20px;
		border-radius: 3px 0 0 3px;
		background-color: var(--color-bg-primary);
		color: var(--color-txt-white);
		font-weight: bold;
		font-size: 14px;
		padding: 18px 12px;
		min-height: 178px;
		letter-spacing: 0.2em;
		// writing-mode: vertical-lr;

		&::after {
			content: "";
			aspect-ratio: 1;
			background: url('../img/common/common_icon_circle_right.png') no-repeat center top/cover;
		}

		&>span {
			writing-mode: vertical-lr;
		}
	}
}

.l-service__content {}

.l-service__content {
	min-width: 0;
	overflow-x: clip;
}

.l-service__form {
	box-sizing: border-box;
	overflow-y: auto;
	position: sticky;
	top: 0;
	width: 350px;
	max-width: 100%;
	height: 100svh;
	background-color: var(--color-bg-gray);
	padding-top: 60px;
	padding-inline: 25px;

	@media screen and (max-width:949px) {
		overflow: unset;
		z-index: var(--z-service-contact-form);
		position: fixed;
		top: var(--header-height);
		right: 0;
		width: min(80vw, calc(100vw - 32px));
		// height: calc(100svh - var(--header-height));
		height: calc(100vh - var(--header-height));
		translate: calc(100% + 32px) 0;
		background-color: rgba($color: #0166C9, $alpha: 0.9);
		padding: 20px;
		transition: all .3s ease;
		transition-property: translate;
		//
		display: grid;
		grid-template-rows: auto auto 1fr;
		//

		&.isActive {
			translate: 0 0;
		}
	}
}

.l-service-sp__close {
	display: none;

	@media screen and (max-width:949px) {
		position: absolute;
		top: 40px;
		left: 0;
		translate: -100% 0;
		display: block;
		border-radius: calc(1px * infinity) 0 0 calc(1px * infinity);
		aspect-ratio: 28/41;
		width: 28px;
		background-color: rgba($color: #0166C9, $alpha: 0.9);

		&::before {
			position: absolute;
			top: 50%;
			left: 80%;
			translate: -50% -50%;
			content: "";
			background-color: var(--color-bg-white);
			aspect-ratio: 11/14;
			width: 11px;
			clip-path: $clip-triangle-right;

		}
	}
}

.l-service__form--name {
	text-align: center;
	color: var(--color-txt-black);
	font-weight: bold;
	line-height: 2;
	letter-spacing: 0.08em;
	font-size: 20px;

	@media screen and (max-width:949px) {
		font-size: 13px;
		color: var(--color-txt-white);
	}
}

.l-service__form--txt {
	text-align: center;
	color: var(--color-txt-black);
	font-weight: bold;
	line-height: 1.4;
	letter-spacing: 0.08em;
	font-size: 25px;

	@media screen and (max-width:949px) {
		color: var(--color-txt-white);
		font-size: 15px;
	}
}

.l-service__form--wrap {
	margin-top: 40px;

	@media screen and (max-width:949px) {
		//
		height: 100%;
		overflow-y: auto;
		//
	}

	@media screen and (max-width:767px) {
		margin-top: 30px;

	}
}

//====================================================================================================
// フォーム用スタイル
//====================================================================================================
.l-service-contact__wrap {
	display: grid;
	align-items: start;
	row-gap: 8px;
	overflow-y: auto;
	height: min(566px, 70vh);
	border-radius: 3px;
	background-color: var(--color-bg-primary);
	padding-inline: 18px;
	padding-block: 20px;

	@media screen and (max-width:949px) {
		height: min(500px, 55vh);
		background-color: transparent;
		padding-block: 0px;
		padding-inline: 0px;
		padding-right: 5px;
	}

	&::-webkit-scrollbar {
		background-color: var(--color-bg-black);
		width: 7px;
		border-radius: calc(1px * infinity);
	}

	&::-webkit-scrollbar-thumb {
		background: var(--color-bg-white);
		border-radius: calc(1px * infinity);
	}
}

.l-service-contact__form--row {
	display: grid;
	row-gap: 4px;
	width: min(100%, 720px);
	margin-inline: auto;

}

.l-service-contact__form--label {
	text-align: left;
	letter-spacing: 0.08em;
	line-height: 1.8;
	font-size: clamp(12px, 15/ 1440 * 100vw, 15px);
	color: var(--color-txt-white);

	@media screen and (max-width:767px) {
		font-size: 12px;
	}
}

.l-service-contact__form--body {
	color: var(--color-txt-black);
}

.l-service-contact__form--body.l-contact__select .wpcf7-form-control-wrap {
	position: relative;
	display: block;
}

.l-service-contact__form--body.l-contact__select select {
	appearance: none;
	padding-right: 36px;
}

.l-service-contact__form--body .wpcf7-radio {
	row-gap: 6px;
}

.l-service-contact__form--body .wpcf7-radio.flex {
	column-gap: 18px;
	row-gap: 8px;
}

.l-service-contact__policy {
	background-color: var(--color-bg-white);
	border: 1px solid var(--color-border-primary);
	border-radius: 3px;
	color: #565656;
	font-size: 11px;
	height: 160px;
	line-height: 1.5;
	overflow-y: auto;
	padding: 10px;
	white-space: pre-wrap;
}

// 同意
// -----------------------------------------------
.l-service-contact__confirm {
	width: fit-content;
	margin-top: 12px;

	input[type=checkbox]+span {
		@media screen and (max-width:949px) {
			color: var(--color-txt-white);
		}
	}
}

// プライバシーポリシーリンク
// -----------------------------------------------
.l-service-contact__privacy {
	font-weight: bold;
	line-height: 1.4;
	display: inline-block;
	border-bottom: 1px solid #FF0000;
	transition: all .3s ease;
	transition-property: opacity;

	@media screen and (max-width:949px) {
		color: var(--color-txt-white);
	}

	&:focus-visible {
		opacity: 0.8;
	}

	@media (any-hover: hover) {
		&:hover {
			opacity: 0.8;
		}
	}
}

// 送信
// -----------------------------------------------
.l-service-contact__submit {
	margin-top: 30px;

	input {
		border-radius: 10px;
		background-color: var(--color-bg-primary);
		color: var(--color-txt-white);
		padding-block: 9px;
		width: min(100%, 176px);

		@media screen and (max-width:949px) {
			background-color: var(--color-bg-white);
			color: var(--color-txt-black);
		}
	}
}
