// AOS 追加CSS
// -----------------------------------------------
[data-aos="fade-to-right"] {
	clip-path: inset(0 100% 0 0);
	opacity: 0;
	// transition: clip-path 1s ease, opacity 1s ease !important;
	transition-property: clip-path, opacity !important;

	&.aos-animate {
		clip-path: inset(0 0 0 0);
		opacity: 1;
	}
}

[data-aos="fade-to-left"] {
	clip-path: inset(0 0 0 100%);
	opacity: 0;
	// transition: clip-path 1s ease, opacity 1s ease !important;
	transition-property: clip-path, opacity !important;

	&.aos-animate {
		clip-path: inset(0 0 0 0);
		opacity: 1;
	}
}
