.p-recruit {
	margin-top: 100px;

	@media screen and (max-width:767px) {
		margin-top: 50px;
	}
}

/*タブ用スタイル*/
.p-recruit__tabList {
	display: flex;
	column-gap: clamp(10px, 30 / 1440 * 100vw, 30px);
	row-gap: 10px;
	flex-wrap: wrap;
	margin-top: 46px;

	@media screen and (max-width:767px) {
		gap: 10px;
		margin-top: 33px;
	}
}

.p-recruit__tabItem {
	cursor: pointer;
	background-color: var(--color-bg-white);
	color: var(--color-txt-black);
	border: 1px solid var(--color-border-primary);
	border-radius: 5px;
	line-height: 1;
	font-weight: 500;
	font-size: clamp(12px, 18 / 1440 * 100vw, 18px);
	padding-inline: 24px;
	padding-block: 13px;
	transition: all .3s ease;
	transition-property: background-color, color;

	@media screen and (max-width:767px) {
		padding: 6px 10px 7px;
	}

	&.isActive {
		cursor: default;
		color: var(--color-txt-white);
		background-color: var(--color-bg-primary);
	}

	&:focus-visible {
		background-color: var(--color-bg-primary);
		color: var(--color-txt-white);
	}

	@media (any-hover: hover) {
		&:hover {
			background-color: var(--color-bg-primary);
			color: var(--color-txt-white);
		}
	}
}


/*タブコンテンツ用スタイル*/
.p-recruit__tabContent {
	visibility: hidden;
	display: none;
	opacity: 0;
	line-height: 2;
	margin-top: 170px;

	@media screen and (max-width:767px) {
		line-height: 1.4;
		margin-top: 80px;
	}

	&.isShow {
		visibility: visible;
		opacity: 1;
		display: block;
	}
}

.p-recruit__dl {
	--dotSize: 12px;
	--gapSize: 16px;
	padding-left: calc(var(--dotSize) + var(--gapSize));
	padding-block: 33px;

	@media screen and (max-width:767px) {
		--gapSize: 11px;
		padding-block: 20px;
	}

	&:not(:first-of-type) {
		border-top: 1px solid rgba($color: #fff, $alpha: 0.3);
	}

	&:first-of-type {
		padding-top: 0;
	}

	&:last-of-type {
		padding-bottom: 0;
	}
}

.p-recruit__dt {
	font-weight: bold;
	font-size: clamp(16px, 20 / 1440 * 100vw, 20px);
	letter-spacing: 0.16em;
	display: grid;
	grid-template-columns: var(--dotSize) 1fr;
	column-gap: var(--gapSize);
	align-items: center;
	margin-left: calc(-1 * (var(--dotSize) + var(--gapSize)));

	&::before {
		content: "";
		aspect-ratio: 1;
		background-color: var(--color-bg-white);
	}
}

.p-recruit__dd {
	font-weight: 500;
	font-size: clamp(13px, 16 / 1440 * 100vw, 16px);
	letter-spacing: 0.16em;
	margin-top: 20px;

	@media screen and (max-width:767px) {
		margin-top: 8px;
	}
}

.p-recruit__dd--list {}

.p-recruit__dd--item {
	padding-left: 1em;
	text-indent: -1em;

	&::before {
		content: "・";
	}
}



// p-recruit-entry
// -----------------------------------------------
.p-recruit-entry {
	margin-top: 200px;
	margin-bottom: 200px;

	@media screen and (max-width:767px) {
		margin-top: 75px;
		margin-bottom: 100px;
	}
}

.p-recruit-entry__body {
	font-weight: bold;
	font-size: clamp(13px, 16 / 1440 * 100vw, 16px);
	letter-spacing: 0.16em;
}

.p-recruit-entry__list {
	display: grid;
	grid-template-columns: repeat(2, 259px);
	justify-content: start;
	column-gap: 64px;
	row-gap: 18px;
	margin-top: 80px;

	@media screen and (max-width:767px) {
		margin-top: 54px;
		grid-template-columns: 1fr;
		justify-items: center;
	}
}

.p-recruit-entry__item {
	max-width: 345px;

	&>a {
		padding-inline: 1em;
		width: min(100%, 345px);

		@media screen and (max-width:767px) {
			min-width: 155px;
		}
	}
}

.p-recruit-entry__item--tel {
	border-top: 5px solid var(--color-border-primary);
	border-bottom: 5px solid var(--color-border-primary);
	min-height: 85px;
	display: grid;
	grid-template-columns: 16px auto;
	justify-content: center;
	align-items: center;
	column-gap: 7px;
	font-size: clamp(14px, 20 / 1440 * 100vw, 20px);
	transition: all .3s ease;
	transition-property: color;

	@media screen and (max-width:767px) {
		grid-template-columns: 10px auto;
		min-height: 40px;
		border-top-width: 1px;
		border-bottom-width: 1px;
	}

	&::before {
		content: "";
		background: url('../img/common/common_icon_tel_white.png') no-repeat center center/contain;
		aspect-ratio: 1;
		transition: all .3s ease;
		transition-property: background-image;
	}

	&:focus-visible {
		color: var(--color-txt-primary);

		&::before {
			background-image: url(../img/common/common_icon_tel_primary.png);
		}
	}

	@media (any-hover: hover) {
		&:hover {
			color: var(--color-txt-primary);

			&::before {
				background-image: url(../img/common/common_icon_tel_primary.png);
			}
		}
	}

}

.p-recruit-entry__item--contact {
	color: var(--color-txt-white);
	background-color: var(--color-bg-primary);
	min-height: 85px;
	display: grid;
	grid-template-columns: 23px auto;
	justify-content: center;
	align-items: center;
	column-gap: 9px;
	font-size: clamp(14px, 20 / 1440 * 100vw, 20px);
	border: 3px solid var(--color-border-primary);
	transition: all .3s ease;
	transition-property: background-color, color;

	@media screen and (max-width:767px) {
		grid-template-columns: 14px auto;
		column-gap: 4px;
		min-height: 40px;
	}

	&::before {
		content: "";
		background: url('../img/common/common_icon_mail_white.png') no-repeat center center/contain;
		aspect-ratio: 1;
		transition: all .3s ease;
		transition-property: background-image;
	}

	&:focus-visible {
		color: var(--color-txt-black);
		background-color: var(--color-bg-white);

		&::before {
			background-image: url("../img/common/common_icon_mail_black.png");
		}
	}

	@media (any-hover: hover) {
		&:hover {
			color: var(--color-txt-black);
			background-color: var(--color-bg-white);

			&::before {
				background-image: url("../img/common/common_icon_mail_black.png");
			}
		}
	}

}
