.p-recruit-form-thanks {
	position: relative;
}

.p-recruit-form-thanks__inner {
	min-height: 80svh;
	display: grid;
	align-content: center;
	justify-items: center;
	text-align: center;
}

.p-recruit-form-thanks__en {
	font-size: clamp(15px, 20 / 1440 * 100vw, 20px);

}

.p-recruit-form-thanks__head {
	font-size: clamp(20px, 40 / 1440 * 100vw, 40px);
	margin-top: 27px;

	@media screen and (max-width:767px) {
		margin-top: 17px;
	}
}

.p-recruit-form-thanks__body {
	line-height: 2;
	font-size: clamp(13px, 15 / 1440 * 100vw, 15px);
	margin-top: 16px;

	@media screen and (max-width:767px) {
		margin-top: 20px;
	}
}

.p-recruit-form-thanks__dot1 {
	right: 10%;
	top: 20%;

	@media screen and (max-width:767px) {
		display: none;
	}
}

.p-recruit-form-thanks__dot2 {
	left: 20%;
	bottom: 5%;

	@media screen and (max-width:767px) {
		display: none;
	}
}
