.l-container {
	width: min(100%, calc($content-width + (2* $paddingInlineSize)));
	padding-inline: $paddingInlineSize;
	margin-inline: auto;
}

.l-container__1400 {
	width: min(100%, calc(1400px + (2* $paddingInlineSize)));
	padding-inline: $paddingInlineSize;
	margin-inline: auto;
}

.l-container__1300 {
	width: min(100%, calc(1300px + (2* $paddingInlineSize)));
	padding-inline: $paddingInlineSize;
	margin-inline: auto;
}

.l-container__1100 {
	width: min(100%, calc(1100px + (2* $paddingInlineSize)));
	padding-inline: $paddingInlineSize;
	margin-inline: auto;
}

.l-container__1000 {
	width: min(100%, calc(1000px + (2* $paddingInlineSize)));
	padding-inline: $paddingInlineSize;
	margin-inline: auto;
}

.l-container__920 {
	width: min(100%, calc(920px + (2* $paddingInlineSize)));
	padding-inline: $paddingInlineSize;
	margin-inline: auto;
}

.l-container__820 {
	width: min(100%, calc(820px + (2* $paddingInlineSize)));
	padding-inline: $paddingInlineSize;
	margin-inline: auto;
}
