// arrow
// -----------------------------------------------
.splide__arrow {
	aspect-ratio: 1;
	width: 55px;
	border-radius: calc(1px * infinity);
	border: 1px solid var(--color-border-primary);
	background: url('../img/common/common_icon_arrow_left_primary.png') no-repeat center center/contain;
	background-size: 18px;
	background-color: var(--color-bg-white);

	@media screen and (max-width:767px) {
		width: 20px;
		background-size: 10px;
	}

}

.splide__arrow--prev {
	background-image: url('../img/common/common_icon_arrow_left_primary.png');
}

.splide__arrow--next {
	background-image: url('../img/common/common_icon_arrow_right_primary.png');
}

.splide__toggle {
	aspect-ratio: 1;
	width: 55px;
	display: grid;
	place-content: center;
	border-radius: calc(1px * infinity);
	border: 1px solid var(--color-border-primary);
	background-color: var(--color-bg-white);

	@media screen and (max-width:767px) {
		width: 20px;
	}
}

.splide__toggle__play,
.splide__toggle__pause {
	aspect-ratio: 1;
	width: 30px;

	@media screen and (max-width:767px) {
		width: 12px;
	}
}

// ページネーション
// -----------------------------------------------
.splide__pagination {
	display: flex;
	align-items: center;
	column-gap: 9px;
}

.splide__pagination li {
	button {
		--dotSize: 15px;
		aspect-ratio: 1;
		width: var(--dotSize);
		height: var(--dotSize);
		border-radius: calc(1px * infinity);
		background-color: var(--color-bg-white);
		border: 1px solid var(--color-border-primary);
		box-shadow: 0 0 4px #0166C9;

		&.is-active {
			background-color: var(--color-bg-primary);
			box-shadow: none;
		}
	}
}
